<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div id="contenedor-flex">
                    <div class="logo"> 
                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </div>
                    <div class="form" action="#" method="GET">
                        <input placeholder='Buscar productos, marcas y más' class="" type='text'</div>
                        <div class="submit"><i class="fa fa-search"></i></div>
                    </div>
                    <p id="form-compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <main class="register">
            <form action="/" method="POST">
                <div class="datos-personales">
                    <input class='celdas' type="text" name="name" placeholder="   Nombre y apellido" required minlenght="3">
                    <input class='celdas' type="text" name="user" placeholder="   Nombre de usuario" required>
                    <input class='celdas' type="email" name="email" placeholder="   E-mail" required>
                    <br>
                    <label class='texto'for="birth_date"><b>Fecha de nacimiento</b></label>
                    <br>
                    <input class='celdas' type="date" name="birth_date" id="birth_date" min='01-01-1910' max="01-01-2006">
                    <input class='celdas' type="text" name="addres" placeholder="   Domicilio" required>
                </div>
                
                <h4 class='texto'>Perfil del usuario</h4>
                <br>
                <div class="perfiles">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label class="perfil-comprador" for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>

                <h4>Intereses</h4>
                <div class="intereses">
                    <div class="cada-interes">
                        <input type="checkbox" name="interests" value="electro" id="electo">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="cada-interes">
                        <input type="checkbox" name="interests" value="moda" id="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="cada-interes">
                        <input type="checkbox" name="interests" value="hogar" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="cada-interes">
                        <input type="checkbox" name="interests" value="jugetes" id="jugetes">
                        <label for="jugetes">Juguetería</label>
                    </div>
                    <div class="cada-interes">
                        <input type="checkbox" name="interests" value="vidaSana" id="vidaSana">
                        <label for="vidaSana">Vida sana</label>
                    </div>
                </div>
                
                <h4>Elegí tu foto de usuario</h4>
                <input class='foto' type="file" name="avatar">
                <br/>
                <div class="contrasena">
                    <input class='celdas' type="password" name="pass" placeholder="Elegí tu contraseña">
                    <input class='celdas' type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                </div>
                <br>
    
                <div class="botones">
                    <input class='boton' type="submit" value="Enviar">
                    <br>
                    <input class='boton' type="reset" value="Borrar">
                </div>

            </form>


        </main>

        <footer class="alineacion">
            <section class="pie">
            <span><i class="fa-solid fa-credit-card fa-2xl"></i></span>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
                <br>
            <span><i class="fa-solid fa-gift fa-2xl"></i></span>
            <h4>Envío gratis desde $ 1.999</h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos</p>
                <br>
            <span><i class="fa-solid fa-user-shield fa-2xl"></i></span>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.</p>
            </section>
            
        </footer>
        <h6>Copyright © 1999-2019 MercadoLiebre S.R.L.</h6>
            
    </body>

</html>