:root{
    --Amarillo: #EAC926; 
    --Azul: #03264C; 
    --Celeste: #1259c3; 
    --Gris-oscuro: #666; 
    --Gris-claro: #ebebeb; 
    --Verde: #39b54a;
}

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    box-sizing: border-box;
}

h3{
    font-size: 24px;
    box-sizing: border-box;
}

p{
    font-size: 12px;
    box-sizing: border-box;
}
div.top-header{
    padding: 5%;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    box-sizing: border-box;
}

header div.logo{
    width: 50%;
    box-sizing: border-box;
}

header div.logo{
    padding: 5px;
    box-sizing: border-box;
}

.top-header #contenedor-flex{
    display: flex;
    flex-wrap: wrap;
}

header nav{
    font-size: 12px;
    display: none;
    box-sizing: border-box;
}

header ul {
    display: flex;
}

header ul li{
    list-style-type: none;
    box-sizing: border-box;
    padding: 5px;
}

header ul li a{
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
}

header div .form {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

header div.form input{
    border: none;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px;
    width: 90%;
}

header .form .submit{
    background-color: #FFF;
    border: none;
    border-radius: 3px;
    border-left-style: none;
    color: #666;
    width: 10%;
    box-sizing: border-box;
    font-size: 20px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
}

div.burger-menu{
    text-align: center;
    box-sizing: border-box;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px 3px;
    width: 40px;
}

article div.main-article{
    border: solid 1px #ebebeb;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    box-sizing: border-box; 
}

article div.main-article i {

    background-color: ​#FFF;
    border-radius: 50%;
    border: solid var(--Verde) 1px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
}

article div.main-article i:hover {
    transform: rotate(-90deg);
    transition: all 1.1s;
}

.price{
    font-size: 18px;
    box-sizing: border-box;
    flex-grow: 0.3;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin:auto
  ;
}

main section article{
    margin-bottom: 10px;
    background-color: #fff;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


main section article #contenedor-flex {
    display: flex;
    padding: 10px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
    flex-grow: 0.7;
}

.description {
    opacity: 0%;
}

main section article:hover .description {
    opacity: 100%;
    transition: all 1s;
}

section h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

footer .pie{
    text-align: center;
    padding: 10px;
}


footer .pie i{
    padding: 1em;
}

footer h5 {
    padding: 10px;
}

footer span {
    color:  #1259C3;
    transition: color 500ms;
}

footer span:hover {
    color: var(--Gris-oscuro)
}

/*ESTILOS DE REGISTER*/

main .datos-personales {
    flex-direction: column;
    display: flex; 
    margin-top: 20px;  
    margin-bottom: 20px;
}

main .celdas {
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

main .perfiles {
    margin-left: 10px;
    margin-bottom: 25px;
}
main  .perfil-comprador {
    margin-right: 20px;
}    

main .intereses {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

main .cada-interes {
    margin-bottom: 10px;
}

main .foto {
    padding: 10px;
    margin-bottom: 20px;
}

main .contrasena {
    flex-direction: column;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

main .botones {
    flex-direction: column;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

main .boton {
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: var(--Celeste);
    color:white;
}
/*FIN ESTILOS DE REGISTER*/


/*ESTILOS DE LOGIN*/

main .login {
    flex-direction: column;
    display: flex; 
    margin-top: 20px;  
    margin-bottom: 20px;
}

main .login-boton {
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: var(--Celeste);
    color:white;
    transition: background-color 400ms;
}

main .login-boton:hover {
   background-color: #0022AA;
}


/*FIN ESTILOS DE LOGIN*/


@media (min-width: 361px){
    
    header nav{
        display: flex;
        justify-content: space-between;
}

    div.burger-menu {
    display: none;
}
    .products {
        display:flex;
        flex-wrap: wrap;
    }

    .products article {
        width: 47%;
        margin: 8px auto;
    }

    .top-header #contenedor-flex{
        display: flex;
    }

    header div .logo {
        width: 33.333%;
        padding: 0px 5px;
    }

    header div .form {
        width: 33.333%;
        padding: 0px 5px;
    }

    header #form-compra {
        width: 33.333%;
        padding: 0px 5px;
    }
}

@media (min-width: 769px){


    .products article {
        
        width: 23%;
        margin: 8px auto;
    }

    footer section {
        display: flex;
    }

    footer section div {
        padding: 10px;
    }
    
}

