:root{
    --Amarillo: #EAC926; 
    --Azul: #03264C; 
    --Celeste: #1259c3; 
    --Gris-oscuro: #666; 
    --Gris-claro: #ebebeb; 
    --Verde: #39b54a;
}

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    box-sizing: border-box;
}

h3{
    font-size: 24px;
    box-sizing: border-box;
}

p{
    font-size: 12px;
    box-sizing: border-box;
}
div.top-header{
    padding: 5%;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    box-sizing: border-box;
}

header div.logo{
    width: 50%;
    box-sizing: border-box;
}

header div.logo{
    padding: 10px;
    box-sizing: border-box;
}
header nav{
    font-size: 12px;
    display: none;
    box-sizing: border-box;
}

header ul li{
    list-style-type: none;
    box-sizing: border-box;
}

header ul li a{
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    box-sizing: border-box;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    box-sizing: border-box;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
}

div.burger-menu{
    text-align: center;
    box-sizing: border-box;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px 3px;
    width: 40px;
}

article div.main-article{
    border: solid 1px #ebebeb;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    box-sizing: border-box; 
}

article div.main-article i {

    background-color: ​#FFF;
    border-radius: 50%;
    border: solid var(--Verde) 1px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
}

.price{
    font-size: 18px;
    box-sizing: border-box;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin:auto
  ;
}

main section article{
    margin-bottom: 10px;
    background-color: #fff;
    
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

.description {
    display: none;
}

section h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

footer .pie{
    text-align: center;
    padding: 10px;
}


footer .pie i{
    padding: 1em;
}

footer h5 {
    padding: 10px;
}

@media (min-width: 361px){
    .description {
        display: block;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header nav{
        display: block;
}
    div.burger-menu {
    display: none;
}
}

@media (min-width: 769px){
    
}

